<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uw.tacoma.edu.paidaid">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/paidaidlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/paidaidlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".view.HomeActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:logo="@mipmap/ic_launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity android:name=".authenticate.LoginActivity"
             android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity android:name=".view.AccountSettingsActivity" />
        <!--<activity android:name=".view.HomeActivity"></activity>-->
    </application>

</manifest>